.common-inner {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;
  @media (min-width: 700px) {
    padding-left: $gutter-not-mobile;
    padding-right: $gutter-not-mobile;
  }
}

.common-headline {
  margin: $gutter-not-mobile 0 2.1875rem;
  padding-top: .9375rem;
  border-top: 1px solid rgba(255, 255, 255, .4);
  @media screen and (min-width: 700px) {
    margin-bottom: 3.75rem;
  }
  span {
    font-size: .8rem;
    font-weight: 500;
    &::before {
      content: "\2b24";
      display: inline-block;
      margin-right: .625rem;
      vertical-align: 3px;
    }
  }
}

.common-display-mo {
  display: block;
 @include desktop {
    display: none;
  }
}
.common-display-pc {
  display: none;
 @include desktop {
    display: block;
  }
}