.common-inner {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;
  @media (min-width: 700px) {
    padding-left: $gutter-not-mobile;
    padding-right: $gutter-not-mobile;
  }
}

.common-headline {
  margin: $gutter-not-mobile 0 2.1875rem;
  padding-top: .9375rem;
  border-top: 1px solid rgba(255, 255, 255, .4);
  @media screen and (min-width: 700px) {
    margin-bottom: 3.75rem;
  }
  span {
    font-size: .8rem;
    font-weight: 500;
    font-variation-settings: "wght" 500;
    &::before {
      content: "\2b24";
      display: inline-block;
      margin-right: .625rem;
      vertical-align: 3px;
    }
  }
}

.common-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color-white;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover::before {
    transform: scale(1);
    transform-origin: left center;
  }
}

.common-display-mo {
  display: block;
 @include desktop {
    display: none;
  }
}
.common-display-pc {
  display: none;
 @include desktop {
    display: block;
  }
}