* {
	box-sizing: border-box;
}

button {
	padding: 0;
	cursor: pointer;
	outline: none;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

::selection {
  background-color: $color-white;
  color: $color-primary;
  text-shadow: none;
}

html {
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  @media (min-width: 700px) {
    font-size: 13px;
  }
  @media (min-width: 1000px) {
    font-size: 14px;
  }
  @media (min-width: 1280px) {
    font-size: 16px;
  }
  @media (min-width: 1600px) {
    font-size: 18px;
  }
  @media (min-width: 2000px) {
    font-size: 21px;
  }
  @media (min-width: 2400px) {
    font-size: 24px;
  }
}

body {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-white;
  background-color: $color-primary;
}
::-webkit-scrollbar {
  display: none;
}