* {
	box-sizing: border-box;
}

button {
	padding: 0;
	cursor: pointer;
	outline: none;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

::selection {
  background-color: $color-white;
  color: $color-black;
  text-shadow: none;
}

html {
  scrollbar-width: none;
  font-family: 'Neue Montreal', sans-serif;
  line-height: 1.5;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @media (max-width: 699px) {
    font-size: 16px;
  }
  @media (min-width: 700px) and (max-width: 999px) {
    font-size: 13px;
  }
  @media (min-width: 1000px) and (max-width: 1279px) {
    font-size: 14px;
  }
  @media (min-width: 1280px) and (max-width: 1599px) {
    font-size: 16px;
  }
  @media (min-width: 1600px) and (max-width: 1999px) {
    font-size: 18px;
  }
  @media (min-width: 2000px) and (max-width: 2399px) {
    font-size: 21px;
  }
  @media (min-width: 2400px) {
    font-size: 24px;
  }
}

body {
  // width: 100vw;
  // height: 100vh;
  background-color: $color-black;
  // overflow-y: overlay;
}
// ::-webkit-scrollbar {
//   width: 7px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, .5);
//   border-radius: 10px;
//   border: 3px solid #1c1c1c;
// }

// ::-webkit-scrollbar-track {
//   background-color: #1c1c1c;
//   background-color: transparent;
// }
::-webkit-scrollbar {
  display: none;
}
video {
  display: block;
  max-width: 100%;
}