@font-face {
  font-family: 'Neue Montreal';
  src: url('//pangrampangram.com/cdn/shop/files/PPNeueMontreal-Variable.ttf?v=3406151675705070910') format('truetype');
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('//pangrampangram.com/cdn/shop/files/PPNeueMontreal-Italic.woff2?v=829860060225883942') format('woff');
  font-weight: 1 999;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "brut";
  src:url("//pangrampangram.com/cdn/shop/files/OTBrut-Italic.woff?v=9894570620152696126") format("truetype");
}

@font-face {
  font-family: "playground";
  src:url("//pangrampangram.com/cdn/shop/files/PPPlayground-Medium.woff2?v=17425418334934416119") format("truetype");
}