@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/PPNeueMontreal-Variable.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'playground';
  src:url('../fonts/PPPlayground-Medium.woff2') format('woff');
}