.footer {
  overflow: hidden;
  background-color: $color-white;
  color: #000;
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;
    
    @media screen and (min-width: 1000px) {
      justify-content: space-between;
      height: 60vh;
    }
  }
  &__social {
    @at-root .social {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.25rem;
      padding: 3.75rem 1.25rem 0;
      @media screen and (min-width: 1000px) {
        flex-direction: row;
        column-gap: 2.25rem;
      }
      &__link {
        position: relative;
        display: inline-flex;
        align-items: center;
        column-gap: 2.25rem;
        padding: .5rem 1.25rem;
        overflow: hidden;
        border-radius: 6.25rem;
        border: .125rem solid #000;
        transition: transform .5s cubic-bezier(.17,.67,.3,1.33);
        @media screen and (min-width: 700px) {
          padding: .75rem 2.375rem;
        }
        &:hover {
          transform: scale(0.95);
        }
      }
      &__text {
        font-size: 2rem;
        transition: color .5s cubic-bezier(.165,.84,.44,1) .1s;
        @media screen and (min-width: 700px) {
          // font-size: 3.5rem;
          font-size: 5.25rem;
        }
        .social__link:hover & {
          color: #fff;
        }
      }
      &__arrow {
        width: 1.375rem;
        height: 1.375rem;
        transition: filter .5s cubic-bezier(.165,.84,.44,1);
        @media screen and (min-width: 700px) {
          width: auto;
          height: auto;
        }
        .social__link:hover & {
          filter: invert(1);
        }
      }
      &__cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        left: 50%;
        background: #000;
        width: 31.25rem;
        height: 31.25rem;
        border-radius: 50%;
        transform: translateX(-50%) scale(0);
        transition: transform .75s cubic-bezier(.165,.84,.44,1);
        z-index: -1;
        .social__link:hover & {
          transform: translateX(-50%) scale(1.75);
        }
      }
    }
  }
  &__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    // margin: 0 -1.5625rem;
    font-size: .75rem;
    font-size: clamp(12px, .75rem, 15px);
    text-transform: uppercase;
    border-top: .036rem solid #000;
    @media screen and (min-width: 700px) {
      padding: 1rem 1.25rem;
      // margin: 0;
      // font-size: 0.584rem;
    }
  }
}