.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index--header;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1rem;
  font-weight: 500;
  transition: padding .3s;

  @include desktop {
    padding: 1.875rem 0;
  }

  &.is-scrolled {
    padding: .6875rem 0;
    background-color: $color-primary;
  }

  .common-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    a {
      display: block;
    }
  }
}

.global-nav {
  &__list {
    display: flex;
    column-gap: $gutter-not-mobile;
  }

  &__link {
    display: block;
  }
}