.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index--header;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  @media screen and (max-width: 999px) {
    padding: 1.25rem 0;
  }
  @media screen and (min-width: 1000px) {
    padding: 1.875rem 0;
  }
  &.is-scrolled {
    padding: .6875rem 0;
    background-color: $color-primary;
  }
  .common-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.global-nav {
  &__list {
    display: flex;
    column-gap: 2.5rem;
  }
}