.section-visual {
  height: 100vh;
  overflow: hidden;
  background: url("../images/section-visual-bg.png") no-repeat fixed center/cover;
  .common-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__content {
    flex: 1;
  }
  &__headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -1.25rem;
    font-family: playground, "Neue Montreal";
    font-weight: 400;
    font-variation-settings: "wght" 400;
    line-height: 1.4;
    @media screen and (min-width: 1000px) {
        font-size: 12.5rem;
    }
    span {
      box-sizing: border-box;
      padding-left: 1.25rem;
      &:nth-child(1) {
        @media screen and (min-width: 700px) {
          width: 66.6666666667%;
        }
      }
      &:nth-child(2) {
        @media screen and (min-width: 700px) {
          width: 33.3333333333%;
        }
      }
      &:nth-child(3) {
        @media screen and (min-width: 700px) {
          width: 50%;
        }
      }
    }
  }
  &__body {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 3.125rem;
    @media (min-width: 700px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  &__link {
    display: flex;
    row-gap: .625rem;
    min-width: 12.5rem;
    margin-left: 1.25rem;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: .3125rem;
    .section-visual__slogan:hover & {
      border-color: #fff9;
      background-color: #1c1c1c33;
    }
    @media screen and (min-width: 700px) {
      flex-direction: column;
      width: 33.3333333333%;
      padding: 1.25rem;
      margin-bottom: .5rem;
    }
  }
  &__title {
    font-family: playground, "Neue Montreal";
    font-size: 3rem;
    line-height: 1;
  }
  &__textbox {
    display: flex;
    align-items: flex-end;
    column-gap: 3.125rem;
    font-size: 1rem;
    line-height: 1.1;
  }
  &__arrow {
    font-size: 150%;
    transition: transform .6s cubic-bezier(.075,.82,.165,1);
    .section-visual__slogan:hover & {
      transform: translate(.3125rem);
    }
  }
  &__scroll {
    font-variation-settings: "wght" 400;
    transition: opacity .6s cubic-bezier(.075,.82,.165,1);
    &:hover {
      opacity: .5;
    }
  }
}

// work
.section-work {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
    @media screen and (min-width: 700px) {
      grid-row-gap: 8.5rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: .625rem;
    @media screen and (min-width: 700px) {
      row-gap: 1.25rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5rem;
  }
  &__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  &__title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.2;
    transition: opacity .6s cubic-bezier(.075,.82,.165,1);
    .section-work__item:hover & {
      opacity: .75;
    }
  }
  &__hashtag {
    display: flex;
    column-gap: .4rem;
    font-size: 1rem;
    opacity: .4;
  }
  &__links {
    align-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: .5rem;
  }
  &__link {
    position: relative;
    padding-bottom: .625rem;
    border-bottom: 1px solid #fff6;
    font-size: .8rem;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .6s cubic-bezier(.075,.82,.165,1);
    }
    &:hover::before {
      transform: scale(1);
      transform-origin: left center;
    }
  }
  &__thumbnail {
    border-radius: .375rem;
    overflow: hidden;
    background-color: #000;
    transform: translateZ(0);
    transition: opacity .6s cubic-bezier(.075,.82,.165,1);
    .section-work__item:hover & {
      opacity: .75;
    }
    a {
      position: relative;
      display: block;
      $padding: 60%, 67%, 73%, 75%, 62%, 75%;
      @for $i from 1 through 6 {
        .section-work__item:nth-child(#{$i}) & {
          padding-top: nth($padding, $i);
        }
      }
    }
    video,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}