// visual
.section-visual {
  height: 100vh;
  overflow: hidden;
  background: url("../images/section-visual-bg.png") no-repeat fixed center/cover;
  .common-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__content {
    flex: 1;
  }
  &__headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -1.25rem;
    font-family: playground, "Neue Montreal";
    font-weight: 400;
    font-variation-settings: "wght" 400;
    line-height: 1.4;
    @media screen and (min-width: 1000px) {
        font-size: 12.5rem;
    }
    span {
      box-sizing: border-box;
      padding-left: 1.25rem;
      &:nth-child(1) {
        @media screen and (min-width: 700px) {
          width: 66.6666666667%;
        }
      }
      &:nth-child(2) {
        @media screen and (min-width: 700px) {
          width: 33.3333333333%;
        }
      }
      &:nth-child(3) {
        @media screen and (min-width: 700px) {
          width: 50%;
        }
      }
    }
  }
  &__body {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 3.125rem;
    @media (min-width: 700px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  &__textbox {
    display: flex;
    row-gap: .625rem;
    min-width: 12.5rem;
    margin-left: 1.25rem;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: .3125rem;
    &:hover {
      border-color: #fff9;
      background-color: #1c1c1c33;
    }
    @media screen and (min-width: 700px) {
      flex-direction: column;
      width: 33.3333333333%;
      padding: 1.25rem;
      margin-bottom: .5rem;
    }
  }
  &__title {
    font-family: playground, "Neue Montreal";
    font-size: 3rem;
    line-height: 1;
  }
  &__description {
    font-size: 1rem;
    line-height: 1.1;
    strong {
      display: block;
      font-weight: 700;
    }
  }
  &__arrow {
    font-size: 150%;
    transition: transform .6s cubic-bezier(.075,.82,.165,1);
    .section-visual__link:hover & {
      transform: translate(.3125rem);
    }
  }
  &__scroll {
    font-variation-settings: "wght" 400;
    transition: opacity .6s cubic-bezier(.075,.82,.165,1);
    &:hover {
      opacity: .5;
    }
  }
}

// about
// .section-about {
//   @media screen and (min-width: 700px) {
//     padding-bottom: 10.5rem;
//   }
//   &__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 80vh;
//   }
//   &__copy {
//     font-size: 3.125rem;
//     max-width: 78.125rem;
//     text-indent: 6.875rem;
//   }
//   &__links {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     column-gap: 1.25rem;
//   }
//   &__link {
//     font-size: 1.375rem;
//     font-weight: 400;
//     line-height: 1.2;
//     @media screen and (min-width: 1000px) {
//       width: 33.3333333333%;
//     }
//   }
// }

// work
.section-work {
  @media screen and (min-width: 700px) {
    padding-top: 3rem;
  }
  &__row {
    @media screen and (min-width: 700px) {
      padding-bottom: 8.75rem;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
    @media screen and (min-width: 700px) {
      grid-row-gap: 8.5rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: .625rem;
    @media screen and (min-width: 700px) {
      row-gap: 1.25rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5rem;
  }
  &__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  &__title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.2;
  }
  &__hashtag {
    display: flex;
    column-gap: .4rem;
    font-size: 1rem;
    opacity: .4;
  }
  &__links {
    align-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: .5rem;
  }
  &__link {
    column-gap: .2rem;
    font-size: .8rem;
  }
  &__thumbnail {
    position: relative;
    border-radius: .375rem;
    overflow: hidden;
    background-color: #000;
    transform: translateZ(0);
    transition: opacity .6s cubic-bezier(.075,.82,.165,1);
    $padding: 60%, 67%, 73%, 75%, 62%, 75%;
    @for $i from 1 through 6 {
      .section-work__item:nth-child(#{$i}) & {
        padding-top: nth($padding, $i);
      }
    }
    &:hover {
      opacity: .75;
    }
    video,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__experience {
    @at-root .experience {
      &__link {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: .6rem;
        border-bottom: 1px solid #767676;
        padding: 1.5625rem;
        padding-left: 3.5rem;
        &:hover {
          color: $color-black;
          background-color: #fff;
        }
      }
      &__title {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1;
      }
      &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 1.1;
      }
      &__description {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
      }
      &__arrow {
        font-size: 1.375rem;
        transition: transform .6s cubic-bezier(.075,.82,.165,1);
        .experience__link:hover & {
          transform: translate(.3125rem);
        }
      }
      &__ribbon {
        position: absolute;
        top: 0;
        left: 0;
        width: 5.3125rem;
        height: 5.3125rem;
        font-size: .75rem;
        font-weight: 500;
        color: #1c1c1c;
        transform: rotate(-45deg);
        span {
          position: absolute;
          top: .5rem;
          left: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.5625rem;
          width: 18.75rem;
          margin-left: -9.375rem;
          background-color: #fff;
        }
        .experience__link:hover & {
          opacity: 0;
        }
      }
    }
  }
}
