// visual
.section-visual {
  position: relative;
  height: 150vh;
  @include not-mobile {
    height: 200vh;
  }
  &__sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .common-inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__content {
    flex: 1;
  }
  &__headline {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.25rem;
    font-family: playground, "Neue Montreal";
    font-size: 15vw;
    font-weight: 400;
    line-height: 1.4;
   @include not-mobile {
      justify-content: flex-end;
      font-size: 12vw;
    }
   @include desktop {
        font-size: 12.5rem;
    }
    span {
      padding-left: 1.25rem;
      white-space: nowrap;
     @include not-mobile {
        &:nth-child(1) {
          width: 66.6666666667%;
        }
        &:nth-child(2) {
          width: 33.3333333333%;
        }
        &:nth-child(3) {
          min-width: 50%;
        }
      }
    }
  }
  &__body {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    width: 100%;
    padding: 0 $gutter-mobile 3.125rem;
    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: $gutter-not-mobile;
      padding-right: $gutter-not-mobile;
    }
  }
  &__textbox {
    display: flex;
    flex-direction: column;
    row-gap: .625rem;
    min-width: 12.5rem;
    padding: .625rem;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: .3125rem;
    &:hover {
      border-color: #fff9;
      background-color: #1c1c1c33;
    }
   @include not-mobile {
      width: 33.3333333333%;
      padding: 1.25rem;
      margin-left: 1.25rem;
    }
  }
  &__title {
    font-family: playground, "Neue Montreal";
    font-size: 9vw;
    line-height: 1;
   @include not-mobile {
      font-size: 3rem;
    }
  }
  &__description {
    font-size: 1rem;
    line-height: 1.1;
    strong {
      display: block;
      font-weight: 700;
    }
  }
  &__arrow {
    font-size: 150%;
    transition: transform .6s cubic-bezier(.075,.82,.165,1);
    .section-visual__link:hover & {
      transform: translate(.3125rem);
    }
  }
  &__scroll {
    &:hover {
      opacity: .5;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/section-visual-bg.png") no-repeat fixed center/cover;
  }
}

// about
// .section-about {
//  @include not-mobile {
//     padding-bottom: 10.5rem;
//   }
//   &__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 80vh;
//   }
//   &__copy {
//     font-size: 3.125rem;
//     max-width: 78.125rem;
//     text-indent: 6.875rem;
//   }
//   &__links {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     column-gap: 1.25rem;
//   }
//   &__link {
//     font-size: 1.375rem;
//     font-weight: 400;
//     line-height: 1.2;
//    @include desktop {
//       width: 33.3333333333%;
//     }
//   }
// }

// work
.section-work {
 @include not-mobile {
    padding-top: 3rem;
  }
  &__row {
    padding-bottom: 5rem;
   @include not-mobile {
      padding-bottom: 8.75rem;
    }
  }
  &__list {
    display: grid;
    row-gap: 3.5rem;
   @include not-mobile {
      grid-template-columns: repeat(3, 1fr);
      gap: 8.5rem 1.25rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: .625rem;
   @include not-mobile {
      row-gap: 1.25rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5rem;
  }
  &__textbox {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
   @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 2rem;
    }
  }
  &__title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.2;
  }
  &__hashtag {
    display: flex;
    column-gap: .4rem;
    font-size: .9rem;
    opacity: .4;
  }
  &__links {
    display: flex;
    align-items: center;
    column-gap: .5rem;
   @include desktop {
      align-self: flex-end;
    }
  }
  &__link {
    column-gap: .2rem;
    font-size: .8rem;
  }
  &__thumbnail {
    position: relative;
    border-radius: .375rem;
    overflow: hidden;
    background-color: $color-black;
    transform: translateZ(0);
    padding-top: 60%;
   @include not-mobile {
      $padding: 60%, 67%, 73%, 75%, 62%, 75%;
      @for $i from 1 through 6 {
        .section-work__item:nth-child(#{$i}) & {
          padding-top: nth($padding, $i);
        }
      }
    }
    &:hover {
      opacity: .75;
    }
    video,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__experience {
    @at-root .experience {
      &__link {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: .6rem;
        border-bottom: 1px solid #767676;
        padding: 1.3rem 1.3rem 1.3rem 3.5rem;
       @include not-mobile {
          padding-top: $gutter-mobile;
          padding-bottom: $gutter-mobile;
          padding-right: $gutter-mobile;
        }
        &:hover {
          color: $color-primary;
          background-color: $color-white;
        }
      }
      &__title {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1;
       @include not-mobile {
          font-size: $gutter-not-mobile;
        }
      }
      &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 1.1;
      }
      &__description {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
      }
      &__arrow {
        font-size: 1.375rem;
        transition: transform .6s cubic-bezier(.075,.82,.165,1);
        .experience__link:hover & {
          transform: translate(.3125rem);
        }
      }
      &__ribbon {
        position: absolute;
        top: 0;
        left: 0;
        width: 5.3125rem;
        height: 5.3125rem;
        font-size: .75rem;
        font-weight: 500;
        color: $color-primary;
        transform: rotate(-45deg);
        span {
          position: absolute;
          top: .5rem;
          left: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: $gutter-mobile;
          width: 18.75rem;
          margin-left: -9.375rem;
          background-color: $color-white;
        }
        .experience__link:hover & {
          color: $color-white;
          span {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
.cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index--cursor;
  mix-blend-mode: difference;
  pointer-events: none;
  @include desktop {
    display: block;
  }
  &__pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $color-white;
    transition-property: width, height;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    .is-hover & {
      width: 4rem;
      height: 4rem;
    }
  }
}